@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,200;1,300&display=swap');

*{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

nav{
    font-size: 24px;
}
.containerr {  
    
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.cont-prod {  
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
}

.buttons{
    padding-top: 50px;
}

.cartbutton{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
}

.cartbuttoncart{
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 5px;
}
  
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#C0C2C9, #C0C2C9)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.geeks .btn-buy{

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s ease;
    opacity: 0;
}

td{
    padding: 10px;
    font-size: 18px;
}

.geeks {
    overflow: hidden;
    position: relative;
}

.geeks img {
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}

.md{
    padding-left: 20%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #ffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

  }

  .price{
    padding-left: 28px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    text-align: center;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


@media only screen and (max-width: 576px) {
    .containerr{
        
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        text-align: center;
    }

    .cont-prod{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . "
          ". . "
          ". . ";

    }
}